:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

html {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--black);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro {
    background-color: midnightblue;
    text-align: center;
}

/* buttons */
.button {
    padding: 5rem;
    font-family: var(--mono);
    text-decoration: none;
}

.button:hover {
    color: var(--white);
}

/* navigation bar */
.navBar {
    text-align: center;
}

/* gradient line */
.gradient {
    height: 10px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

/* Form */
.login-form {
	width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
    color: turquoise;
}

.login-form input {
    color: magenta;
	font-size: 16px;
	width: 100%;
	padding: 15px 10px;
	border: 0;
	outline: none;
	border-radius: 5px;
    margin-bottom: 25px;
}

.login-form button {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px 15px;
	width: 50%;
	border-radius: 5px;
	border: 0;
}

.link {
    text-decoration: none;
}

.error-message {
    color: red;
}